<template>
  <div>
    <div v-if="!user" class="centered-loader">
      <loader />
    </div>
    <div class="card" v-else>
      <v-dialog class="dialog" name="dialog"></v-dialog>
      <div v-if="user === undefined">Couldn't find user</div>
      <div v-else>
        <div class="header">
          <h4 class="title">{{user.title}} {{user.firstname}} {{user.lastname}}</h4>
        </div>
        <div class="content margin-sm">
          <form @submit.prevent="updateUser">
            <div class="row">
              <div class="col-sm-1">
                <label>Anrede</label><br>
                <select v-model="user.title">
                  <option>Herr</option>
                  <option>Frau</option>
                </select>
              </div>
              <div class="col-xs-12 col-sm-5">
                <br class="visible-xs">
                <label>Username</label><br>
                <input class="col-xs-12 col-sm-12" type="text" placeholder="Username" v-model="user.username">
              </div>
              <div class="col-xs-12 col-sm-6">
                <br class="visible-xs">
                <label>Email</label><br>
                <input class="col-xs-12 col-sm-12" type="email" placeholder="Email" v-model="user.email">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <br class="visible-xs">
                <label>Vorname</label><br>
                <input class="col-xs-12 col-sm-12" type="text" placeholder="Vorname" v-model="user.firstname">
              </div>
              <div class="col-xs-12 col-sm-6">
                <br class="visible-xs">
                <label>Nachname</label><br>
                <input class="col-xs-12 col-sm-12" type="text" placeholder="Nachname" v-model="user.lastname">
              </div>
            </div>
            <div class="row header">
              <div v-if="preferenceGroups">
                <h4 class="title">Hier können Sie Ihre Präferenzen einstellen</h4>
                <div v-for="group in preferenceGroups" class="col-sm-6">
                  <label class="row margin-sm">
                    <br class="visible-xs">
                    <div @click="show(group)" class="btn btn-default">
                      <b>{{group.type}}</b>
                    </div>
                  </label>
                </div>
              </div>
              <h5 v-else class="title">Sie haben leider keine Präferenzen in der Datenbank, die Sie bearbeiten können</h5>
            </div>
            <div class="row last-row margin-sm hidden-xs">
              <button class="btn btn-danger btn-fill btn-wd pull-left" @click="deleteUser(user.id)">Löschen</button>
              <button type="submit " class="btn btn-info btn-fill btn-wd pull-right" @click.prevent="updateUser"> Speichern
              </button>
              <router-link v-bind:to="`/admin/users/`">
                <button class="btn btn-info btn-fill btn-wd margin-sm-right pull-right">Abbrechen</button>
              </router-link>
            </div>
            <div class="row last-row margin-sm visible-xs">
              <div class="row">
                <button class="btn btn-danger btn-fill btn-wd pull-right" @click="deleteUser(user.id)">Löschen</button>
              </div>
              <div class="row">
                <router-link v-bind:to="`/admin/users/`">
                  <button class="btn btn-info btn-fill btn-wd pull-right">Abbrechen</button>
                </router-link>
              </div>
              <div class="row">
                <button type="submit " class="btn btn-info btn-fill btn-wd pull-right" @click.prevent="updateUser"> Speichern
                </button>
              </div>
            </div>
            <div class="clearfix "></div>
          </form>
          <div v-if="loading">
            <br><br>
            <br><br>
            <div class="centered-loader">
              <loader />
            </div>
            <br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Loader from 'vue-spinner/src/MoonLoader.vue'
import Slider from 'vue-slider-component'
import axios from 'axios'

const config = require('../../../../config/index')

export default {
  components: {
    Loader,
    Slider
  },
  data() {
    return {
      user: undefined,
      preferenceGroups: undefined,
      preferences: undefined,
      value: undefined,
      loading: false
    }
  },
  methods: {
    beforeOpen(event) {
      console.log('Before Modal')
    },
    show(preferencegroup) {
      getUserPreferences(preferencegroup.id).then(preferences => {
        let modalHTML = '<form class="modal-form"><div class="row margin-sm">'

        preferences.forEach(preference => {
          modalHTML +=
            '<label>' +
            preference.type +
            '</label>' +
            '<input type="range" class="slider" min="-5" max="5" step="1" value="' +
            preference.rating +
            '"/>' +
            '<input type="range" value="24" min="1" max="100" oninput="document.getElementById(preference_' +
            preference.id +
            ').html(0)">' +
            '<div id="preference_' +
            preference.id +
            '"></div>' +
            '<br><br>'
        })

        modalHTML += '</div></form>'

        this.$modal.show('dialog', {
          title: preferencegroup.type,
          text: modalHTML,
          buttons: [
            {
              title: 'ABBRECHEN'
            },
            {
              title: 'SPEICHERN',
              default: true,
              handler: () => {
                console.log('Save')
              }
            }
          ]
        })
      })
    },
    hide() {
      this.$modal.hide('hello-world')
    },
    hasValue(item, column) {
      return item[column.toLowerCase()] !== 'undefined'
    },
    itemValue(item, column) {
      return item[column.toLowerCase()]
    },
    getPreferencesByGroup(groupid) {
      var self = this
      getUserPreferences(groupid)
        .then(preferences => {
          self.preferences = preferences
          console.log(self.preferences)
        })
        .catch(console.log)
    },
    deleteUser(userid) {
      let self = this
      let deleteuser = 'http://' + config.dev.server.host + ':3000/users/delete'
      this.loading = true
      axios
        .post(deleteuser, { id: userid })
        .then(response => {
          self.$router.push({ path: '/admin/users/' })
        })
        .catch(e => {
          console.log(e)
        })
    },
    updateUser() {
      let self = this
      let updateuser = 'http://' + config.dev.server.host + ':3000/users/update'
      this.loading = true
      axios
        .post(updateuser, this.user)
        .then(response => {
          self.$router.push({ path: '/admin/users/' })
        })
        .catch(e => {
          console.log(e)
        })
    }
  },
  created() {
    const self = this
    getUser(this.$route.params.id)
      .then(user => {
        self.user = user[0]
        getUserPreferenceGroups(user[0].id)
          .then(groups => {
            if (groups.length > 0) {
              self.preferenceGroups = groups
            }
          })
          .catch(console.log)
      })
      .catch(console.log)
  }
}

function getUser(userid) {
  var getuser = 'http://' + config.dev.server.host + ':3000/users/getuser'
  return new Promise((resolve, reject) => {
    axios
      .post(getuser, {
        id: userid
      })
      .then(response => {
        console.log(response.data)
        resolve(response.data)
      })
      .catch(e => {
        reject(e)
      })
  })
}
function getUserPreferenceGroups(userid) {
  var getpreferencegroups =
    'http://' + config.dev.server.host + ':3000/users/getpreferencegroups'

  return new Promise((resolve, reject) => {
    axios
      .post(getpreferencegroups, {
        id: userid
      })
      .then(response => {
        console.log(response.data)
        resolve(response.data)
      })
      .catch(e => {
        reject(e)
      })
  })
}
function getUserPreferences(groupid) {
  var getpreferences =
    'http://' + config.dev.server.host + ':3000/users/getpreferences'
  return new Promise((resolve, reject) => {
    axios
      .post(getpreferences, {
        id: groupid
      })
      .then(response => {
        resolve(response.data)
      })
      .catch(e => {
        reject(e)
      })
  })
}
</script>
<style>
.centered-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
.last-row {
  margin-top: 21px;
}
.margin-sm {
  margin-left: 15px;
  margin-right: 15px;
}
.margin-sm-right {
  margin-right: 1em;
}
.v--modal-overlay {
  background: none;
}
.modal-form {
  max-height: 300px;
  overflow-y: auto;
}
</style>
