<template>
    <div class="card">
        <div class="header">
            <h4 class="title">Neuen Angestellten anlegen</h4>
        </div>
        <div class="content margin-sm">
            <form @submit.prevent="createUser">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Anrede</label><br>
                        <select required v-model="user.title">
                            <option>Herr</option>
                            <option>Frau</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <br class="visible-xs">
                        <label>Username</label><br>
                        <input required class="col-xs-12 col-sm-12" type="text" label="Username" placeholder="Username" v-model="user.username">
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <br class="visible-xs">
                        <label>Email</label><br>
                        <input required class="col-xs-12 col-sm-12" type="email" label="Email" placeholder="Email" v-model="user.email">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <br class="visible-xs">
                        <label>Firstname</label><br>
                        <input required class="col-xs-12 col-sm-12" type="text" label="Vorname" placeholder="Vorname" v-model="user.firstname">
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <br class="visible-xs">
                        <label>Lastname</label><br>
                        <input required class="col-xs-12 col-sm-12" type="text" label="Last Name" placeholder="Last Name" v-model="user.lastname">
                    </div>
                </div>
                <div class="row text-center last-row">
                    <button id="submit" type="submit" class="btn btn-info btn-fill btn-wd"> Speichern
                    </button>
                    <router-link v-bind:to="`/admin/users/`">
                        <button class="btn btn-info btn-fill btn-wd">
                            Abbrechen
                        </button>
                    </router-link>
                    <div v-if="loading">
                        <br><br>
                        <br><br>
                        <div class="centered-loader">
                            <loader />
                        </div>
                        <br><br>
                    </div>
                </div>
                <div class="clearfix "></div>
            </form>
        </div>
    </div>
</template>
<script>
import Loader from 'vue-spinner/src/MoonLoader.vue'
import Slider from 'vue-slider-component'
import axios from 'axios'
const config = require('../../../../config/index')

export default {
  components: {
    Loader,
    Slider
  },
  data() {
    return {
      showModal: false,
      user: {
        title: '',
        username: '',
        email: '',
        firstname: '',
        lastname: ''
      },
      loading: false
    }
  },
  methods: {
    createUser() {
      let self = this
      let createuser = 'http://' + config.dev.server.host + ':3000/users/create'
      this.loading = true
      axios
        .post(createuser, this.user)
        .then(response => {
          self.$router.push({ path: '/admin/users/' })
        })
        .catch(e => {
          console.log(e)
        })
    }
  },
  created() {}
}
</script>
<style>
.centered-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
.last-row {
  margin-top: 21px;
}
.margin-sm {
  margin-left: 15px;
  margin-right: 15px;
}
</style>
