<template>
  <div>
    <div v-if="!users.userData" class="centered-loader">
      <loader />
    </div>
    <div v-else class="card">
      <div v-if="users.userData.lenght === 0">Couldn't find anything</div>
      User data.
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import Loader from 'vue-spinner/src/MoonLoader.vue'
import config from '../../../../config/index'

export default {
  components: {
    Loader
  },
  data() {
    return {}
  },
  created() {
    var self = this
    axios
      .get('http://' + config.dev.server.host + ':3000/users')
      .then(response => {
        self.users.userData = response.data
      })
      .catch(e => {
        this.errors.push(e)
      })
  }
}
</script>
<style>
.centered-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
