<template>
  <div>
    <div class="row">
      <div class="col-xs-1">
        <router-link v-bind:to="`/admin/new`">
          <button class="btn btn-default">Neuer Angestellter</button>
        </router-link>
      </div>
    </div>

    <div v-if="!users.userData" class="centered-loader">
      <loader />
    </div>
    <div v-else class="card">
      <div v-if="users.userData.lenght === 0">Couldn't find anything</div>
      <users-table :title="users.title" :sub-title="users.subTitle" :data="users.userData" :columns="users.columns" v-else/>
    </div>
  </div>
</template>
<script>
import UsersTable from 'components/Dashboard/Users/UsersTable.vue'
import Loader from 'vue-spinner/src/MoonLoader.vue'
import axios from 'axios'
const config = require('../../../../config/index')

const columns = ['Title', 'Firstname', 'Lastname', 'Username', 'Email']

export default {
  components: {
    UsersTable,
    Loader
  },
  data() {
    return {
      users: {
        title: 'Liste Ihrer Angestellten',
        columns: [...columns],
        userData: undefined
      }
    }
  },
  created() {
    var self = this
    axios
      .get('http://' + config.dev.server.host + ':3000/users')
      .then(response => {
        self.users.userData = response.data
      })
      .catch(e => {
        this.errors.push(e)
      })
  }
}
</script>
<style>
.centered-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  margin-bottom: 1em;
}
</style>
