<template>
  <footer class="footer">
    <div class="container-fluid">
      <nav class="pull-left">
        <ul>
          <li class="link">
          </li>
        </ul>
      </nav>
      <div class="copyright pull-right">
        Coded with
        <i class="fa fa-heart heart"></i> by the
        <a href="https://www.sheepblue.com/">Sheepblue</a> Team.
      </div>
    </div>
  </footer>
</template>
<script>
export default {}
</script>
<style>

</style>
