<template>
  <div class="mid-center">
    <div class="stack-wrapper">
      <stack ref="stack" :pages="cardList" :stackinit="stackinit"></stack>
    </div>
    <div class="controls">
      <button @click="prev" class="button">
        <i class="prev"></i>
        <span class="text-hidden">prev</span>
      </button>
      <button @click="neutral" class="button">
        <i class="neutral"></i>
        <span class="text-hidden">neutral</span>
      </button>
      <button @click="next" class="button">
        <i class="next"></i>
        <span class="text-hidden">next</span>
      </button>
    </div>
  </div>
</template>
<script>
import stack from './stack.vue'
export default {
  data() {
    return {
      cardList: [],
      stackinit: {
        visible: 3
      },
      game: false
    }
  },
  mounted() {
    let that = this
    that.cardList = [
      {
        html: '<h2>Montag</h2><br><br><h5>Arbeitest du gerne vormittags?</h5>'
      },
      {
        html: '<h2>Montag</h2><br><br><h5>Was sagst du zum Nachmittag?</h5>'
      },
      {
        html: '<h2>Montag</h2><br><br><h5>Und abends?</h5>'
      },
      {
        html:
          '<h2>Montag</h2><br><br><h5 style="margin: 0 2em;">Wie siehts über die Nacht aus?</h5>'
      },
      {
        html:
          '<h2>Obergeschoss</h2><br><br><h5 style="margin: 0 2em;">Arbeitest du gerne im Obergeschoss?</h5>'
      },
      {
        html:
          '<h2>Stoßzeiten</h2><br><br><h5 style="margin: 0 2em;">Arbeitest du eigentlich gerne wenn mal mehr los ist?</h5>'
      }
    ]
  },
  components: {
    stack
  },
  methods: {
    prev() {
      this.$refs.stack.$emit('prev')
    },
    neutral() {
      this.$refs.stack.$emit('neutral')
    },
    next() {
      this.$refs.stack.$emit('next')
    }
  }
}
</script>
<style>
.stack-wrapper {
  margin: 0 auto;
  position: relative;
  z-index: 1000;
  width: 320px;
  height: 320px;
  padding: 0;
  list-style: none;
  pointer-events: none;
}
.controls {
  position: relative;
  width: 200px;
  text-align: center;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
}
.controls .button {
  border: none;
  background: none;
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  width: 50px;
  height: 50px;
  z-index: 100;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  background: #fff;
}
.button .next {
  display: inline-block;
  width: 10px;
  height: 5px;
  background: rgb(129, 212, 125);
  line-height: 0;
  font-size: 0;
  vertical-align: middle;
  -webkit-transform: rotate(45deg);
  left: -5px;
  top: 2px;
  position: relative;
}
.button .next:after {
  content: '/';
  display: block;
  width: 20px;
  height: 5px;
  background: rgb(129, 212, 125);
  -webkit-transform: rotate(-90deg) translateY(-50%) translateX(50%);
}
.button .neutral {
  display: inline-block;
  width: 10px;
  background: rgb(129, 212, 125);
  line-height: 0;
  font-size: 0;
  vertical-align: middle;
  left: -4px;
  top: -1px;
  position: relative;
}
.button .neutral:after {
  content: '/';
  display: block;
  width: 20px;
  height: 5px;
  background: orange;
}
.button .prev {
  display: inline-block;
  width: 20px;
  height: 5px;
  background: rgb(230, 104, 104);
  line-height: 0;
  font-size: 0;
  vertical-align: middle;
  -webkit-transform: rotate(45deg);
}
.button .prev:after {
  content: '/';
  display: block;
  width: 20px;
  height: 5px;
  background: rgb(230, 104, 104);
  -webkit-transform: rotate(-90deg);
}
.controls .text-hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  color: transparent;
  display: block;
}
.mid-center {
  overflow: hidden;
}
</style>