<template>
  <div class="wrapper">
    <side-bar type="sidebar" :sidebar-links="$sidebar.sidebarLinks">

    </side-bar>
    <notifications>
    </notifications>
    <div class="main-panel">
      <navbar></navbar>
      <dashboard-content @click.native="toggleSidebar">
      </dashboard-content>
      <footer></footer>
    </div>
  </div>
</template>
<style lang="scss">
.v-moon2 {
  background-color: #078ed0 !important;
}
</style>
<script>
import Navbar from './Navbar.vue'
import Footer from './Footer.vue'
import DashboardContent from './Content.vue'
export default {
  components: {
    Navbar,
    Footer,
    DashboardContent
  },
  methods: {
    toggleSidebar() {
      if (this.$sidebar.showSidebar) {
        this.$sidebar.displaySidebar(false)
      }
    }
  }
}
</script>
