<template>
  <div>
    <div class="row container">
      <h2>Guten Tag!</h2><br><br>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <chart-card :chart-data="preferencesChart.data" chart-type="Pie">
          <h4 class="title" slot="title">Was sagen Ihre Angestellten zu ihren Schichten heute?</h4>
          <span slot="footer">
            <i class="ti-server"></i> Sample data</span>
          <div slot="legend">
            <i class="fa fa-circle text-info"></i> Froh
            <i class="fa fa-circle text-warning"></i> Neutral
            <i class="fa fa-circle text-danger"></i> Traurig
          </div>
        </chart-card>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="card">
          <div class="content">
            <div class="row">
              <div class="col-xs-5">
                <div class="icon-big text-center icon-warning">
                  <i class="ti-user"></i>
                </div>
              </div>
              <div class="col-xs-7">
                <div class="numbers">
                  <p>Wie viele Schichten laufen gerade?</p>
                  {{getShiftsCount}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="card">
          <div class="content">
            <div class="row">
              <div class="col-xs-5">
                <div class="icon-big text-center icon-warning">
                  <i class="ti-user"></i>
                </div>
              </div>
              <div class="col-xs-7">
                <div class="numbers">
                  <p>Anzahl Ihrer Angestellten</p>
                  {{getUserCount}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import StatsCard from 'components/UIComponents/Cards/StatsCard.vue'
import ChartCard from 'components/UIComponents/Cards/ChartCard.vue'
const config = require('../../../config/index')

export default {
  components: {
    ChartCard,
    StatsCard
  },
  data() {
    return {
      preferencesChart: {
        data: {
          labels: ['froh', 'neutral', 'traurig'],
          series: [62, 22, 16]
        },
        options: {}
      }
    }
  },
  asyncComputed: {
    getUserCount: {
      get() {
        return new Promise((resolve, reject) => {
          axios
            .get('http://' + config.dev.server.host + ':3000/users/count')
            .then(response => {
              resolve(response.data.numberOfUsers)
            })
            .catch(e => {
              console.log(
                'http://' + config.dev.server.host + ':3000/users/count'
              )
              this.errors.push(e)
              reject('Noone found.')
            })
        })
      },
      default: 0
    },
    getShiftsCount: {
      get() {
        return new Promise((resolve, reject) => {
          axios
            .get('http://' + config.dev.server.host + ':3000/users/count')
            .then(response => {
              resolve(parseInt(response.data.numberOfUsers / 2 + 1))
            })
            .catch(e => {
              this.errors.push(e)
              reject('Noone found.')
            })
        })
      },
      default: 0
    }
  }
}
</script>
<style>

</style>
